[mysqld]
user = mysql
datadir = /var/lib/mysql
port = 3306
bind-address = 0.0.0.0
skip-networking = false
#socket=/var/lib/mysql/mysql.sock
init-file = /bootstrap.sql

[mysql]
#user=root
#port=3306
#socket=/var/lib/mysql/mysql.sock
